* {
  margin: 0%;
  padding: 0%;
}
body {
  background: black;
  font-family: "Sofia Sans Condensed", sans-serif;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #0065c3;
  font-weight: 700;
  font-size: 15px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.right a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 100px;
  padding: 5px 35px;
  font-size: 14px;
  word-spacing: 3px;
  transition: 0.5s;
}
.container3 {
  /* border: 2px solid black; */
  display: flex;
  width: 100%;
  height: 100vh;
}
.leftimg {
  background: #5999d4;
  width: 35%;
  padding: 40px;
}

.upper {
  background-color: #14148bf6;
  height: 47%;
  transition: all 0.4s ease-in-out;
}
.lower {
  background-color: #14148bf6;
  height: 47%;
  margin: 31px 0px 0px 1px;
  transition: all 0.4s ease-in-out;
}

figcaption {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  word-spacing: 3px;
  padding-top: 5px;
}
.rightimg img {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}
#ban {
  width: 550px;
  height: 155px;
  position: relative;
  bottom: 190px;
  left: 290px;
}
nav .logo img {
  width: 60px;
  height: 60px;
}
.logo {
  cursor: pointer;
  transition: all 0.5s ease;
}
.logo:hover {
  transform: rotate(720deg);
}

.upper:hover {
  transform: scale(1.03);
}

.lower:hover {
  transform: scale(1.03);
}
.right a:hover {
  background-color: white;
  color: #0065c3;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: flex;
  margin: auto;
  background-color: white;
  transition: 0.3s;
}
/* .logo:hover {
  transform: rotate(720deg);
} */
.bg {
  position: relative;
  background: url("./images/background.png");
  width: 100%;
  height: 100vh;
}
.bottle img {
  position: absolute;
  bottom: -60px;
  left: -120px;
  width: 62%;
  height: 100%;
}
.unlock-svg {
  position: absolute;
  top: 15%;
  right: 17%;
}

.container1 button {
  position: absolute;
  top: 82%;
  left: 59%;
}
.btn {
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 100px;
  padding: 8px 35px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.6s all ease;
}
.bg3 {
  background: url("./images/bg3.png") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.cane-glass img {
  position: absolute;
  bottom: 0px;
  left: 200px;
  width: 35%;
  height: 90vh;
}
.content img {
  position: absolute;
  top: 28%;
  left: 55%;
  width: 35%;
  height: 40%;
}
.delicious p {
  position: absolute;
  top: 68%;
  left: 58%;
  font-weight: 900;
  font-size: 22px;
}
.container2 button {
  position: absolute;
  padding: 10px 30px;
  top: 75%;
  left: 66%;
}
.bg4 {
  /* background: url("./Sprinkle.svg");/ */
  background: #064785;
  width: 100%;
  height: 100vh;
  position: relative;
}
.side-img img {
  width: 90%;
  height: 90vh;
  position: absolute;
  bottom: 0px;
}
.rightside-img img {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 65%;
  height: 100vh;
}
.mango-text img {
  position: absolute;
  top: 6%;
  left: 4%;
  width: 28%;
  height: 45vh;
}
.bottom-text img {
  position: absolute;
  bottom: 4%;
  left: 3%;
  width: 28%;
}
.bg5 {
  position: relative;
}
.pepsi-Video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.bg6 {
  position: relative;
  background: url("./images/bg3.png");
  width: 100%;
  height: 100vh;
}
.cane img {
  position: absolute;
  bottom: 0%;
  left: 3%;
  width: 52%;
  height: 90%;
}
.like-6 img {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 35%;
  height: 50%;
}
.container7 {
  background-color: #0a62b4;
  position: relative;
  width: 100%;
  height: 90vh;
}
.text-7 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 26%;
  left: 6%;
  font-weight: 800;
  font-size: 3.75em;
  line-height: 1em;
  word-spacing: -4px;
  letter-spacing: -1px;
}
.b-para p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 56%;
  left: 6%;
  line-height: 1.4em;
  margin-top: 10px;
}
.container7 button {
  position: absolute;
  bottom: 22%;
  left: 6%;
}
.container7 .btn {
  padding: 8px 22px;
}
.three-cane img {
  position: absolute;
  top: 33%;
  right: 5%;
  width: 38%;
  height: 40vh;
  filter: drop-shadow(1px 1px 14px rgba(29, 29, 29, 0.849));
}
.container8 {
  background-color: #0a62b4;
  position: relative;
  width: 100%;
  height: 100vh;
}
.last-upper {
  width: 100%;
  height: 55vh;
  background-color: white;
}
.last-upper-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 18px;
  text-align: center;
  font-size: 3.6em;
  font-weight: 800;
  letter-spacing: -1px;
  word-spacing: -3px;
  padding-left: 12%;
  z-index: 1;
  color: #0a62b4;
}
.last-upper-img {
  display: flex;
  position: absolute;
  bottom: 45%;
  left: 6%;
  width: 50%;
}
.last-upper-img img {
  width: 35%;
  transition: 0.5s all ease;
}
.last-lower .logo-last img {
  margin: 78px 60px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.last-lower .logo-last img:hover {
  transform: rotate(720deg);
}
.c-t-p {
  position: absolute;
  bottom: 19%;
  left: 18%;
}

.c-p-s {
  position: absolute;
  bottom: 19%;
  left: 36%;
}

.s-a-c {
  position: absolute;
  bottom: 19%;
  left: 54%;
}
ul li {
  list-style: none;
  line-height: 27px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  transition: 0.3s all ease;
}
.last-lower .btn {
  position: absolute;
  bottom: 28%;
  left: 76%;
  padding: 6px 25px;
}
.icons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 18%;
  left: 76%;
}
.icons img {
  padding: 10px;
  width: 35px;
  transition: 0.3s all ease;
}
.icons img:hover {
  opacity: 0.6;
}
.container8 ul li a:hover {
  opacity: 0.6;
}
.btn:hover {
  background-color: white;
  color: #0065c3;
}
footer {
  position: relative;
  background-color: #0a62b4;
}
footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 18px;
  left: 37%;
  opacity: 0.8;
}
.container8 ul {
  border-left: 2px solid white;
  padding-left: 10px;
}
